*.d
*.out
*.o
*.class
*.exe
build
joosc
joosc.exe
joosc_debug
joosc_debug.exe
joosc_release
joosc_release.exe  
libjc.so
libjc.dll
ptgen
ptgen.exe
DFA.txt
*~
\#*\#
.\#*
.idea
.vs
cmake-build-debug
cmake-build-release
output
